# Node Modules
node_modules/

# Build Folder
dist/

# Logs
*.log

# Vite
.vite/

# Environment Variables
.env
.env.*
!.env.example

# SQLite Database Files
*.sqlite
*.sqlite3
*.db

# OS Files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Cache
.cache/
.vercel
.env*
